{% extends 'layout.html' %}
{% block posts_selected%}selected{%endblock%}

{% block content %}
    	<div class="crud">
    		<h2 class="main-subhead">Add New Post</h2>
    		<div class="pure-g-r">
    			<div class="pure-u-1">
    				<form class="pure-form pure-form-stacked">
					    <fieldset>
                  <div>
                      <input id="title" type="text" class="pure-input-1" {%if post %}value="{{post.title}}"{%endif%} placeholder="Post Title">
                      <input id="slug" type="text" class="pure-input-1" {%if post %}value="{{post.slug}}"{%endif%} placeholder="Post Slug">
                    <!--input id="text" type="text" class="pure-input-1" placeholder="Post Slug" disabled-->
                  </div>
                  <div id="my-editor">
                  </div>
                  <div>
                    <input type="hidden" id="tags" class="pure-input-1" name="tags" value="" />
                  </div>

                            <h2 class="main-subhead">Extra Settings</h2>
					        <div class="pure-g-r extra-settings">
					            <div class="pure-u-1-3">
                                    <div class="l-box">
    					                <label for="category">Select Category</label>
    							        <select id="category" class="pure-input-1" multiple>
    							        </select>
                                    </div>
					            </div>

					            <div class="pure-u-1-3">
                                    <div class="l-box">
    					                <label for="post-state">Publish Settings</label>
    					                <select id="post-state" class="pure-input-1">
    					                    <option>Draft</option>
    					                    <option>Scheduled</option>
    					                    <option>Moderate</option>
    					                    <option>Publish</option>
    					                </select>

    					                <label for="post-date">Date Time</label>
    					                <input id="post-date" class="pure-input-1" type="text">
                                    </div>
					            </div>
					        </div>
					        <button type="submit" class="pure-button pure-button-secondary pure-input-1"
                                onclick="return save_post();">Save</button>
					    </fieldset>
					</form>
    			</div>
    		</div>
    	</div>
      {% endblock %}

    {% block tailjs %}
        <script type="text/javascript" src="/static/admin/js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="/static/admin/js/Countable.js"></script>
        <script type="text/javascript" src="/static/admin/js/select2/select2.js"></script>
        <script type="text/javascript" src="/static/admin/js/select2/select2_locale_tr.js"></script>

        <!--editor.md begin-->
      <link rel="stylesheet" href="/static/css/style.css" />
      <link rel="stylesheet" href="/static/css/editormd.css" />
      <script src="/static/js/lib/jquery.min.js"></script>
      <script src="/static/js/lib/handlerbars.js"></script>
      <script src="/static/editor/lib/codemirror/codemirror.min.js"></script>
      <script src="/static/editor/lib/codemirror/addons.min.js"></script>
      <script src="/static/editor/lib/codemirror/modes.min.js"></script>
      <script src="/static/editor/lib/marked.min.js"></script>
      <script src="/static/editor/lib/prettify.min.js"></script>
      <!-- if setting flowchart == true, or sequence-diagram == true -->
      <script src="/static/editor/lib/raphael.min.js"></script>
      <script src="/static/editor/lib/underscore.min.js"></script>
      <script src="/static/editor/lib/sequence-diagram.min.js"></script>
      <script src="/static/editor/lib/flowchart.min.js"></script>
      <script src="/static/editor/lib/jquery.flowchart.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.1.1/katex.min.js"></script>
      <link rel="stylesheet" href="/static/css/bootstrap.css" />
      <link rel="stylesheet" href="/static/editor/lib/codemirror/theme/monokai.css " />
      <link rel="stylesheet" href="/static/editor/lib/codemirror/codemirror.min.css" />
      <link rel="stylesheet" href="/static/editor/lib/codemirror/addon/dialog/dialog.css" />
      <link rel="stylesheet" href="/static/editor/lib/codemirror/addon/search/matchesonscrollbar.css" />
      <!-- if setting tex == true -->
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.1.1/katex.min.css" />
      <link rel="stylesheet" href="/static/editor/css/editormd.css" />
      <link rel="stylesheet" href="/static/css/reset.css" />
      <link rel="stylesheet" href="/static/css/login.css" />
      <link rel="stylesheet" href="/static/css/own.css" />
      <script src="/static/editor/editormd.js"></script>   
      <script src="/static/js/lib/modernizr.js"></script>
      <script src="/static/js/oper.js"></script>
      <script src="/static/js/login.js"></script>
      <script type="text/javascript">
        var editor;
        var jwt_token = "";
        console.log("here");

        $(function() {
            editor = editormd("my-editor", {
                width: "100%",
                height: 480,
                htmlDecode: true,

                // 显示的工具栏
                toolbarIcons : function() {
                    return [
                      "undo", "redo", "|",
                      "bold", "del", "italic", "quote", "|",
                      "h1", "h2", "h3", "h4", "h5", "h6", "|",
                      "list-ul", "list-ol", "hr", "|",
                      "link", "anchor", "image", "datetime", "|",
                      "watch", "preview", "fullscreen", "clear", "|",
                      "login", "info","save", "list"
                  ]
                },

                // 自定义工具栏图标
                toolbarIconsClass : {
                    anchor: "fa-anchor",
                    login : "fa-sign-in",
                    save  : "fa-save",
                    list  : "fa-list",
                },
                // 自定义工具栏
                toolbarIconTexts : {
                    login: "登录",
                    save : "保存",
                    list : "查看"
                },

                // 设置工具栏的响应函数
                toolbarHandlers : {
                  login: function(cm, icon, cursor, Selection) {
                    login_selected();
                  },
                  save : function (cm, icon, cursor, selection) {
                    var content = $(".editormd-preview").html();
                    var title = $("#title").val();
                    saveAs(title, content);
                  },
                  list : function (cm, icon, cursor, selection) {
                    listAll();
                  },
                },

                // 全屏响应事件
                onfullscreen : function() {
                  // alert("onfullscreen");
                  console.log("onfullscreen =>", this, this.id, this.settings);
                },
                onfullscreenExit : function() {
                  // alert("onfullscreenExit");
                  console.log("onfullscreenExit =>", this, this.id, this.settings);
                },

                theme: 'dark',
                editorTheme: 'monokai',
                previewTheme: 'dark',

                // 自定义模块目录
                autoLoadModules : false,
            });
          //editor.fullscreen();
            load_categories();
            load_post({% if post %}{{post.id}}{%endif%});
        });

        $("#open-html-entities-dialog").bind('click', function() {
            editor.executePlugin("htmlEntitiesDialog", "html-entities-dialog/html-entities-dialog");
        });
  </script>

<!--editor.md end-->
{% endblock %}
