{% extends 'layout.html' %}

{% block head_js %}
    <link rel="stylesheet" type="text/css" href="/static/css/table/flexigrid.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/table/flexigrid.js"></script>
{% endblock %}

{% block categories_selected%}selected{%endblock%}

{% block content %}
    <table id="flex1" style="display:none"></table>
{% endblock %}

{% block tailjs %}
<script type="text/javascript">

    $("#flex1").flexigrid({
        url: '/admin/categories',
        dataType: 'json',
        colModel : [
            {display: 'ID', name : 'id', width : 100, sortable : true, align: 'center'},
            {display: 'UUID', name : 'uuid', width : 100, sortable : true, align: 'center'},
            {display: 'Name', name : 'name', width : 500, sortable : true, align: 'left'},
            {display: 'Slug', name : 'slug', width : 100, sortable : true, align: 'left'},
            {display: 'Post Count', name : 'posts', width : 200, sortable : true, align: 'left'},
            ],
        searchitems : [
            {display: 'ID', name : 'id'},
            {display: 'Name', name : 'name', isdefault: true}
            ],
        sortname: "name",
        sortorder: "asc",
        usepager: true,
        title: 'Tags',
        useRp: true,
        rp: 15,
        showTableToggleBtn: true,
        width: 1000,
        onSubmit: addFormData,
        height: 300
    });

    function addFormData(){
        //passing a form object to serializeArray will get the valid data from all the objects, but, if the you pass a non-form object, you have to specify the input elements that the data will come from
        var dt = $('#sform').serializeArray();
        $("#flex1").flexOptions({params: dt});
        return true;
    }

    $('#sform').submit(function (){
        $('#flex1').flexOptions({newp: 1}).flexReload();
        return false;
    });
</script>
{% endblock %}
