<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Pure Admin</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/pure-min.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/admin.css">
    <script type="text/javascript" src="/static/admin/js/jquery-1.10.2.min.js"></script>

    {% block head_js %}
    {% endblock %}
  </head>

  
  <body>
    <div class="pure-g-r" id="layout">
        <div class="pure-u" id="nav">
            <a href="#nav" class="nav-menu-button">Menu</a>

            <div class="nav-inner">
              <div class="user">
                <p><img id="avatar" class="user-avatar" alt="Avatar" src="" height="64" width="64"></p>
                <p><a href="profile.html" id="username"><span class="user-label-editor"></span>User Name</a></p>
              </div>

                <div class="pure-menu pure-menu-open">
                    <ul>
                      <li><a href="{{url_for('admin.index')}}" class="{%block index_selected %}{%endblock%}">Dashboard</a></li>
                      <li><a href="{{url_for('admin.all_posts')}}" class="{%block posts_selected %}{%endblock%}">Posts</a></li>
                        <li><a href="{{url_for('admin.all_tags')}}" class="{%block tags_selected %}{%endblock%}">Tags</a></li>
                        <li><a href="{{url_for('admin.all_uploads')}}" class="{%block uploads_selected %}{%endblock%}">Gallery</a></li>
                        <li><a href="{{url_for('admin.all_comments')}}" class="{%block comments_selected %}{%endblock%}">Comments</a></li>
                        <li class="pure-menu-heading">Options</li>
                        <li><a href="{{url_for('admin.settings')}}" class="{%block settings_selected %}{%endblock%}">General</a></li>
                        <li><a href="{{url_for('admin.other')}}" class="{%block other1_selected %}{%endblock%}">Seo</a></li>
                        <li><a href="{{url_for('admin.other')}}" class="{%block other2_selected %}{%endblock%}">Meta</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="pure-u" id="main">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <!-- footer -->
    <div class="pure-g-r">

      {% block footer %}
        <div class="pure-u" id="footer">
          <p>&copy; 2013 - Pure Admin <a href="detail.html">v0.1</a></p>
        </div>
      {% endblock %}
    </div>

    <script type="text/javascript">
      $(function() {
        $.ajax({
          url: "{{url_for('users.user_info')}}",
          type: "POST",
          headers: {
            "Authorization": "Bearer " + localStorage.twtf_jwt_token,
          },
          success: function(data){
            if (data.code != 2000) {
              console.log(data.data);
            } else {
              localStorage.user_avatar = data.data.avatar;
              $("#avatar").attr('src', data.data.avatar);
              $("#username").text(data.data.name);
              console.log(data);
            }
          }
        });
      });
    </script>

    {% block tailjs %}
    {% endblock %}
  </body>
</html>
