{% extends 'admin/layout.html' %}

{%block index_selected%}selected{%endblock%}

{% block content %}
    <div class="dashboard">
    		<h2 class="main-subhead">Dashboard</h2>
    		<div class="pure-g-r">
    			<div class="pure-u-1">
    				<p>Dashboard description is here.</p>
    			</div>
    			<div class="pure-u-1-4">
    				<div class="l-box">
    					<table class="pure-table pure-table-striped">
						    <thead>
						        <tr>
						            <th colspan="2">Posts Report</th>
						        </tr>
						    </thead>

						    <tbody>
						        <tr class="pure-table-odd">
						            <td>Total Posts</td>
                                    <td>{{ postnum.total }}</td>
						        </tr>
						        <tr>
						            <td>Active Posts</td>
                                    <td>{{ postnum.published}}</td>
						        </tr>
						        <tr>
						            <td>Draft Posts</td>
                                    <td>{{ postnum.draft}}</td>
						        </tr>
						        <tr>
						            <td>Moderate Posts</td>
                                    <td>{{ postnum.moderate }}</td>
						        </tr>
						        <tr>
						            <td>Schedule Posts</td>
                                    <td>{{ postnum.scheduling }}</td>
						        </tr>
						    </tbody>
						</table>
    				</div>
    			</div>
    			<div class="pure-u-1-4">
    				<div class="l-box">
    					<table class="pure-table pure-table-striped">
						    <thead>
						        <tr>
						            <th colspan="2">Visit Report</th>
						        </tr>
						    </thead>

						    <tbody>
						        <tr class="pure-table-odd">
						            <td>User Views</td>
						            <td>125</td>
						        </tr>
						        <tr>
						            <td>Ip Views</td>
						            <td>123</td>
						        </tr>
						        <tr>
						            <td>Page Views</td>
						            <td>1</td>
						        </tr>
						        <tr>
						            <td>Yesterday PV</td>
						            <td>1</td>
						        </tr>
						    </tbody>
						</table>
    				</div>
    			</div>
    			<div class="pure-u-1-4">
    				<div class="l-box">
    					<table class="pure-table pure-table-striped">
						    <thead>
						        <tr>
						            <th colspan="2">Galleries Report</th>
						        </tr>
						    </thead>

						    <tbody>
						        <tr class="pure-table-odd">
						            <td>Total Galleries</td>
						            <td>125</td>
						        </tr>
						        <tr>
						            <td>Active Galleries</td>
						            <td>123</td>
						        </tr>
						        <tr>
						            <td>Local Galleries</td>
						            <td>1</td>
						        </tr>
						        <tr>
						            <td>Remote Galleries</td>
						            <td>1</td>
						        </tr>
						        <tr>
						            <td>Diable Galleries</td>
						            <td>1</td>
						        </tr>
						    </tbody>
						</table>
    				</div>
    			</div>
    			<div class="pure-u-1-4">
    				<div class="l-box">
    					<table class="pure-table pure-table-striped">
						    <thead>
						        <tr>
						            <th colspan="2">Comments Report</th>
						        </tr>
						    </thead>

						    <tbody>
						        <tr class="pure-table-odd">
						            <td>Total Comments</td>
						            <td>125</td>
						        </tr>
						        <tr>
						            <td>Active Comments</td>
						            <td>123</td>
						        </tr>
						        <tr>
						            <td>Draft Comments</td>
						            <td>1</td>
						        </tr>
						    </tbody>
						</table>
    				</div>
    			</div>
    			<div class="pure-u-1-4">
    				<div class="l-box">
    					<table class="pure-table pure-table-striped">
						    <thead>
						        <tr>
						            <th colspan="2">Daily Login Report</th>
						        </tr>
						    </thead>

						    <tbody>
						        <tr class="pure-table-odd">
						            <td>Login Time</td>
						            <td>125</td>
						        </tr>
						        <tr>
						            <td>Login IPs</td>
						            <td>123</td>
						        </tr>
						        <tr>
						            <td>Last Login</td>
						            <td>08:41:28</td>
						        </tr>
						        <tr>
						            <td>Yest. Time</td>
						            <td>1</td>
						        </tr>
						    </tbody>
						</table>
    				</div>
    			</div>
    		</div>
		</div>

{% endblock %}
