{% extends 'admin/layout.html' %}

{% block meta_selected%}selected{%endblock%}

{% block content %}

    <div class="pure-u" id="main">
    	<div class="options">
    		<h2 class="main-subhead">Options</h2>
    		<div class="pure-g-r">
    			<div class="pure-u-1">
    				<p>Blog Setting</p>
    			</div>
    			<div class="pure-u-1">
            <form class="pure-form pure-form-stacked" method="POST" action="{{ url_for('admin.meta')}}">
					    <fieldset>

					        <label for="text">Blog Name</label>
					        <input id="blog_name" type="text" placeholder="you blog name here" 
                         name="blog_name" class="pure-input-1" value="Angiris Council" required>

					        <label for="text">Blog URL</label>
					        <input id="blog_url" type="text" value="liuliqiang.info"
                         name="blog_url" placeholder="you blog name here" class="pure-input-1" required>

					        <label for="email">Owner</label>
					        <input id="owner" type="email" name="owner" value="liqianglau@outlook.com" placeholder="Email">

					        <label for="password">Password</label>
					        <input id="password" type="password", name="password" 
                         placeholder="only for change password, blank for no change">

					        <label for="password">Password Again</label>
					        <input id="password" type="password" name="password_again" placeholder="Password Again">

					        <label for="state">Blog Themes</label>
					        <select id="state" name="theme">
                      {% for tmpl in templates %}
                        <option>{{ tmpl }}</option>
                      {% endfor %}
					        </select>

					        <button type="submit" class="pure-button pure-button-secondary">Save</button>
					    </fieldset>
					</form>
    			</div>
    		</div>
    	</div>
    </div>
{% endblock %}
