extends base

block content
	if request.path.strip('/')=='tags'
		entries = get_data(type='post',limit=300, sort='desc')
	else
		entries = get_data(type='post',limit=300, sort='desc')

	ul.list_with_title.container
		for sub_title, posts in entries
			h3= sub_title
			ul.listing
				for post in posts
					li.listing_item
						a(href=post.url, title=post.title)= post.title
						span.date= post.date.format("%Y-%m-%d")

	include include/paginator
