extends base
block content
    div.
        <div id="content" class="site-content ">
            <div id="primary" class="content-area">
                <main id="main" class="site-main" role="main">
                <article id="post-9" class="post-9 page type-page status-publish hentry">
                <header class="entry-header">
                    <h1 class="entry-title">About Me</h1>
                </header><!-- .entry-header -->
                <br/>

                <div class="entry-content">
                    <p><strong>What you want to know about me all are following:</strong></p>

                <br/>
                <ul>
                    <li>Python backend developer, work with flask framework and sometime use python as a linux script</li>
                    <li>Distribution system beginner, learning all basic knowledge about distribution system</li>
                    <li>Open source lover, most of time use open source only, sometime write personal open source software and push to <a href="https://github.com/luke0922" data-slimstat-clicked="false" data-slimstat-type="0" data-slimstat-tracking="true" data-slimstat-async="false" data-slimstat-callback="true">github</a></li>
                    <li>Blogger, publish &nbsp;posts once a week at least and these days write a systematic introduction books such as <a href="https://luke0922.gitbooks.io/the-way-to-flask/content/" data-slimstat-clicked="false" data-slimstat-type="0" data-slimstat-tracking="true" data-slimstat-async="false" data-slimstat-callback="true">The Way to Flask</a> and <a href="https://www.gitbook.com/book/luke0922/owsap-top-10-scurity-problem/content" data-slimstat-clicked="false" data-slimstat-type="0" data-slimstat-tracking="true" data-slimstat-async="false" data-slimstat-callback="true">OWSAP TOP 10 Scurity Problem</a></li>
                    <li>Badminton lover, playing badminton at least once a week and sometime play basketball self</li>
                </ul>
            <p>
                <br/>
                <strong>Want to know about my programing and professional knowledge</strong>
            </p>
                <br/>

            <ul>
                <li>Familiar with <a href="https://www.python.org/" data-slimstat-clicked="false" data-slimstat-type="0" data-slimstat-tracking="true" data-slimstat-async="false" data-slimstat-callback="true">python</a> programing language and <a href="http://flask.pocoo.org/" data-slimstat-clicked="false" data-slimstat-type="0" data-slimstat-tracking="true" data-slimstat-async="false" data-slimstat-callback="true">Flask</a>&nbsp;framework, with&nbsp;more than half and a year experience for working.</li>
                <li>Familiar with <a href="https://www.oracle.com/uk/java/index.html" data-slimstat-clicked="false" data-slimstat-type="0" data-slimstat-tracking="true" data-slimstat-async="false" data-slimstat-callback="true">Java</a> programing language and know about <a href="https://spring.io/" data-slimstat-clicked="false" data-slimstat-type="0" data-slimstat-tracking="true" data-slimstat-async="false" data-slimstat-callback="true">Spring</a>/<a href="http://hibernate.org/" data-slimstat-clicked="false" data-slimstat-type="0" data-slimstat-tracking="true" data-slimstat-async="false" data-slimstat-callback="true">Hibernate </a>Framework, no <a href="https://struts.apache.org/" data-slimstat-clicked="false" data-slimstat-type="0" data-slimstat-tracking="true" data-slimstat-async="false" data-slimstat-callback="true">Struts</a>(I think i have not speak&nbsp;it wrong). Maybe know some about <a href="http://ibatis.apache.org/" data-slimstat-clicked="false" data-slimstat-type="0" data-slimstat-tracking="true" data-slimstat-async="false" data-slimstat-callback="true">iBatis</a>, half and a year ago using them for work with half year.</li>
                <li>Familiar with <a href="https://www.mongodb.com/" data-slimstat-clicked="false" data-slimstat-type="0" data-slimstat-tracking="true" data-slimstat-async="false" data-slimstat-callback="true">MongoDB</a>，however most of time access it by <a href="https://api.mongodb.com/python/current/" data-slimstat-clicked="false" data-slimstat-type="0" data-slimstat-tracking="true" data-slimstat-async="false" data-slimstat-callback="true">pymongo</a> instead of console.</li>
                <li>Familiar with Redis, most of time using it as a normal cache system. Spare time, using it as a db for data store.</li>
                <li>Know about HTML/CSS/JavaScript, sometime using them build some simple page such as Admin page for models, or testing some technology for backend.</li>
            </ul>

            <br/>
                <p><strong>Why keep liuliqiang.info blog</strong></p>
            <br/>
                <p>I would reply to this problem in two aspect</p>

            <ul>
            <li>why i keep blog</li>
            <br/>
            </ul>
            <p>In daily work or study, i found i often trouble in same problems and it waste a lot of time to deal with these same problem, so why don’t i keep it in a space and i can find it easily next time.</p>
            <br/>
            <p>another reason is that sometime i need to describe a concept for other time by time, to make myself free, let them to read my post instead tell them again and again would take less time and those may need these information would know about it by readding this post</p>
            <ul>
            <br/>
            <li>why i keep myself blog instead of other blog system</li>
            <br/>
            </ul>
            <p>i love free and want to be free, other’s blog system prevent me from free. such as i can migrate my blog to other place if i want and i can change my blog’s style as i want, sometime blog system admin would delete my blog if there are something not fit him/her.</p>
            <br/>
            <p>many free blog system not friendly for search, as my answer for <strong>why i keep blog</strong> say, if i want to find the same problem solution, i need to find the post, my blog would help me find it easily.</p>
            <br/>
            <p><strong>how to contact with you</strong></p>
            <br/>
            <p>there are many way to get in touch with me, i list in following:</p>
            <ul>
            <br/>
            <li>email: liqianglau@outlook.com</li>
            <li>website comment: <a href="https://liuliqiang.info" data-slimstat-clicked="false" data-slimstat-type="2" data-slimstat-tracking="false" data-slimstat-async="false" data-slimstat-callback="false">https://liuliqiang.info</a>, as you can see, following is a comment textarea …</li>
            <li>github: <a href="https://github.com/luke0922" data-slimstat-clicked="false" data-slimstat-type="0" data-slimstat-tracking="true" data-slimstat-async="false" data-slimstat-callback="true">https://github.com/luke0922</a></li>
            <li>gitbook: <a href="https://www.gitbook.com/@luke0922" data-slimstat-clicked="false" data-slimstat-type="0" data-slimstat-tracking="true" data-slimstat-async="false" data-slimstat-callback="true">https://www.gitbook.com/@luke0922</a></li>
            <li>douban: <a href="https://www.douban.com/people/133191359/" data-slimstat-clicked="false" data-slimstat-type="0" data-slimstat-tracking="true" data-slimstat-async="false" data-slimstat-callback="true">https://www.douban.com/people/133191359/</a></li>
            </ul>
            <p>Tks for endure my poor english~</p>
            <p><!-- 多说评论框 start --></p>
            <div class="ds-thread" data-thread-key="99527" data-title="AboutMe" data-url="https://liuliqiang.info/about-me/" id="ds-thread"><div id="ds-reset"><div class="ds-comments-info"><div class="ds-sort"><a class="ds-order-desc">最新</a><a class="ds-order-asc ds-current">最早</a><a class="ds-order-hot">最热</a></div><ul class="ds-comments-tabs"><li class="ds-tab"><a class="ds-comments-tab-duoshuo ds-current" href="javascript:void(0);">0条评论</a></li>  </ul></div><ul class="ds-comments"><li class="ds-post ds-post-placeholder">还没有评论，沙发等你来抢</li></ul><div class="ds-paginator" style="display: none;"><div class="ds-border"></div><a data-page="1" href="javascript:void(0);" class="ds-current">1</a></div><a name="respond"></a><div class="ds-toolbar"><div class="ds-account-control"><span class="ds-icon ds-icon-settings"></span> <span>帐号管理</span><ul><li><a class="ds-bind-more" href="javascript:void(0);" style="border-top: none">绑定更多</a></li><li><a target="_blank" href="https://duoshuo.com/settings/?jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzaG9ydF9uYW1lIjoibGlxaWFuZ2xhdSIsInVzZXJfa2V5IjoxLCJuYW1lIjoibGlxaWFuZyJ9.bL3PBl0KVbmTCExOBwUzEofJg2-nvDN0aIYjHooXqYQ">设置</a></li><li><a rel="nofollow" href="https://liqianglau.duoshuo.com/logout/?sso=1&amp;redirect_uri=https%3A%2F%2Fliuliqiang.info%2Fwp-login.php%3Faction%3Dlogout%26_wpnonce%3D40817e935a%26redirect_to%3Dhttps%253A%252F%252Fliuliqiang.info%252Fabout-me%252F" style="border-bottom: none">登出</a></li></ul></div><div class="ds-visitor"><a class="ds-visitor-name" href="https://liuliqiang.info/" target="_blank">liqiang</a><a class="ds-unread-comments-count" href="javascript:void(0);" title="你没有新回复" style="display: none;">0</a></div></div><div class="ds-replybox"><a class="ds-avatar" href="https://duoshuo.com/settings/avatar/?jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzaG9ydF9uYW1lIjoibGlxaWFuZ2xhdSIsInVzZXJfa2V5IjoxLCJuYW1lIjoibGlxaWFuZyJ9.bL3PBl0KVbmTCExOBwUzEofJg2-nvDN0aIYjHooXqYQ" target="_blank" title="设置头像"><img src="http://tp3.sinaimg.cn/5586263002/50/40110686402/1" alt="liqiang"></a><form method="post" lpformnum="1"><input type="hidden" name="thread_id" value="6291878896296018689">
            <input type="hidden" name="parent_id" value="">
            <input type="hidden" name="nonce" value="5794e5add8492"><div class="ds-textarea-wrapper ds-rounded-top"><textarea name="message" title="Ctrl+Enter快捷提交" placeholder="说点什么吧…"></textarea><pre class="ds-hidden-text"></pre></div><div class="ds-post-toolbar"><div class="ds-post-options ds-gradient-bg"><span class="ds-sync"><input id="ds-sync-checkbox" type="checkbox" name="repost" value=""> <label for="ds-sync-checkbox">分享到:</label><a href="javascript:void(0)" class="ds-service-icon-grey ds-qqt" data-service="qqt" title="腾讯微博"></a><a href="javascript:void(0)" class="ds-service-icon-grey ds-qzone" data-service="qzone" title="QQ空间"></a></span></div><button class="ds-post-button" type="submit">发布</button><div class="ds-toolbar-buttons"><a class="ds-toolbar-button ds-add-emote" title="插入表情"></a></div></div></form></div><p class="ds-powered-by"><a href="http://duoshuo.com" target="_blank" rel="nofollow">Angiris Council正在使用多说</a></p></div></div>
            <p><!-- 多说评论框 end --><br>
            <!-- 多说公共JS代码 start (一个网页只需插入一次) --><br>
            <script type="text/javascript">// <![CDATA[
            var duoshuoQuery = {short_name:"luke0922"}; (function() { var ds = document.createElement('script'); ds.type = 'text/javascript';ds.async = true; ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js'; ds.charset = 'UTF-8'; (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds); })();
            // ]]&gt;</script><br>
            <!-- 多说公共JS代码 end --></p>
                </div><!-- .entry-content -->
                <footer class="entry-footer"><span class="edit-link"><a class="post-edit-link" href="https://liuliqiang.info/wp-admin/post.php?post=9&amp;action=edit" data-slimstat-clicked="false" data-slimstat-type="2" data-slimstat-tracking="false" data-slimstat-async="false" data-slimstat-callback="false">编辑</a></span></footer>	
                </article><!-- #post-9 -->
                </main><!-- #main -->
            </div><!-- #primary -->
        </div>
