* {
  padding: 0;
  margin: 0; }

  ::selection {
    background: black;
    color: white; }

    ::-moz-selection {
      background: black;
      color: white; }

      body {
        font-family: 'adelle', 'Georgia', serif;
        font-size: 18px;
        color: #444;
        background: #fdfdfd; }

        a {
          color: black;
          text-decoration: none;
          transition: color linear 0.2s; }

          a:hover {
            color: indianred; }

            h2, h3, h4, h5, h6 {
              margin-top: 2em;
              font-family: "calluna-sans", sans-serif;
              font-weight: bold; }

              h2 {
                font-size: 2em;
                color: #222; }

                h3 {
                  font-size: 1.5em;
                  color: #2F76A5; }

                  h4 {
                    font-size: 1.3em;
                    color: #409ad6; }

                    h5 {
                      font-size: 1.2em; }

                      h6 {
                        font-size: 1em; }

                        hr {
                          height: 1px;
                          border: none;
                          border-bottom: 1px solid #eeeeee;
                          margin: 1em 0; }

                          del {
                            color: #999; }

                            .center-container {
                              width: 660px;
                              max-width: 90%;
                              margin: 0 auto; }

                              .header-wrap {
                                width: 100%;
                                border-bottom: solid 1px #eee; }
                                .header-wrap .header {
                                  padding: 40px 0;
                                  overflow: hidden; }
                                  .header-wrap .header .logo {
                                    width: 40%;
                                    float: left;
                                    font-size: 1.2em; }
                                    .header-wrap .header .links {
                                      width: 60%;
                                      text-align: right;
                                      float: right; }
                                      .header-wrap .header .links a {
                                        margin: 0 0.8em; }

.content-wrap {
  margin-top: 50px; }
  .content-wrap .content pre {
    border: none;
    background: none;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    margin: 1.2em -2px;
    padding: 15px 20px;
    font-size: 13px;
    font-family: Menlo, monospace;
    line-height: 2.2;
    display: block;
    overflow: auto;
    max-width: 800px; }

.post {
  line-height: 1.6;
  margin-bottom: 100px;
  word-break: break-word; }
  .post .title {
    font-size: 1.25em;
    color: black;
    font-weight: normal;
    margin-bottom: 15px; }
    .post .date {
      font-size: 1em;
      color: #999; }
      .post .abstract-content {
        margin-top: 10px;
        line-height: 1.8;
        color: #666; }
        .post .tags {
          font-size: 0.8em;
          color: #888; }
          .post .tags a {
            color: #888;
            border-bottom: dotted 1px #888;
            margin-left: 10px;
            transition: all linear 0.4s;
            -webkit-transition: all linear 0.4s;
            -moz-transition: all linear 0.4s; }
            .post .tags a:hover {
              color: black;
              border-bottom-color: black;
              margin-left: 10px; }
  .post img {
    max-width: 100%;
    height: auto;
    margin: 10px auto;
    display: block; }
    .post .post-body ul {
      margin: 1em 0;
      padding-left: 2em; }
      .post .post-body ol {
        margin: 1em 0;
        padding-left: 2em; }
        .post .post-body ul li, .post .post-body ol li {
          margin: 0.5em 0;
          position: relative;
          font-size: 0.9em; }
          .post .post-body ul p, .post .post-body ol p {
            overflow: visible; }
            .post .post-body code, .post .post-body pre {
              font-family: Monaco, Andale Mono, Courier New, monospace; }
              .post .post-body pre code {
                font-size: 14px;
                padding: 0; }
                .post .post-body code {
                  border-radius: 5px;
                  margin: 0 2px;
                  padding: 0px 5px;
                  color: #666; }
                  .post .post-body a {
                    color: #9c2525;
                    -webkit-transition: all linear 0.4s;
                    -moz-transition: all linear 0.4s;
                    transition: all linear 0.4s; }
                    .post .post-body a:hover {
                      color: #C9261E;
                      border-bottom: solid 1px #E60900; }
    .post .post-body blockquote {
      position: relative;
      line-height: 1.2em;
      background: #fffdf4;
      padding: 0.1em 1.5em 0.1em 1.5em; }
      .post .post-body blockquote:before {
        position: absolute;
        top: 33px;
        left: -25px;
        content: "“";
        font-size: 7em;
        color: #ddd; }
        .post .post-body blockquote p {
          line-height: 1.8; }

.ref-post .title a {
  position: relative;
  color: #333;
  -webkit-transition: color linear 0.4s;
  -moz-transition: color linear 0.4s;
  transition: color linear 0.4s; }
  .ref-post .title a:hover {
    color: #E60900; }
.ref-post .title span {
  font-size: 0.6em;
  color: #E60900;
  margin-left: 10px; }
.ref-post .comment-body {
  position: relative;
  padding-left: 1em;
  font-size: 0.9em;
  color: #555;
  padding-top: 10px;
  background: #fffdf4; }
  .ref-post .comment-body:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "“";
    font-size: 2em;
    color: #eee; }
    .ref-post .comment-body p {
      margin-bottom: 10px;
      padding-left: 10px; }
      .ref-post .comment-body ul {
        list-style: circle inside; }

.link-title-post .title a {
  position: relative;
  font-family: 'adelle', 'Georgia', serif;
  color: #111;
  -webkit-transition: color linear 0.4s;
  -moz-transition: color linear 0.4s;
  transition: color linear 0.4s; }
  .link-title-post .title:hover {
    text-decoration: underline;
    color: #E60900; }
.link-title-post .post-body {
  font-size: 1em;
  color: #555; }

.normal-post .title {
  position: relative;
  margin-top: 0;
  font-size: 3em;
  font-weight: normal;
  line-height: 1.1;
  font-family: 'adelle', 'Georgia', "Kaiti SC", "KaiTi", serif; }
  .normal-post .title .perman-link {
    color: #E60900;
    position: absolute;
    left: -25px;
    top: 0.5em;
    font-size: 0.5em;
    font-weight: normal; }
.normal-post .post-body {
  margin-top: 30px;
  font-size: 1.1em; }
  .normal-post .post-body p {
    margin: 1.5em 0;
    text-align: justify; }
    .normal-post .post-body p.eof {
      text-align: center;
      margin: 33px 0;
      color: #bbb; }

.footer-wrap {
  padding: 80px 0 10px; }
  .footer-wrap p {
    margin-top: 5px;
    text-align: center;
    font-size: 0.75em; }

@media screen and (max-width: 480px) {
  body {
    font-size: 16px;   }
    .post {
      line-height: 1.6;
      margin-bottom: 55px;   }
      .post.normal-post .title {
        font-size: 2em;
        line-height: 1.2;   }
        .post.normal-post .title .perman-link {
          font-size: 0.8em;
          color: #E60900;
          position: absolute;
          left: 0;
          top: -1em;   }
}

.archive-list {
  list-style: none; }
  .archive-list .year {
    margin-left: 120px;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #222; }
    .archive-list .post-set {
      overflow: hidden;
      margin-bottom: 20px; }
      .archive-list .post-set .date {
        display: block;
        float: left;
        width: 100px; }
        .archive-list .post-set .post-link {
          margin-left: 120px;
          overflow: hidden; }
  .archive-list .refer-link {
    font-size: 0.9em;
    color: #888; }
    .archive-list .refer-link span {
      font-size: 0.7em; }
  .archive-list a {
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    transition: all linear 0.4s;
    text-decoration: underline; }
    .archive-list a:hover {
      color: #C9261E;
      border-bottom-color: #E60900; }

.pager {
  margin-top: 3em; }
  .pager a {
    color: #333;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    transition: all linear 0.4s; }
    .pager a:hover {
      color: #C9261E; }
  .pager .pre {
    float: left; }
    .pager .next {
      float: right; }

.hll {
  background-color: #ffffcc; }

  .c {
    color: #60a0b0;
    font-style: italic; }

    .k {
      color: #007020;
      font-weight: bold; }

      .o {
        color: #666666; }

        .cm {
          color: #60a0b0;
          font-style: italic; }

          .cp {
            color: #007020; }

            .c1 {
              color: #60a0b0;
              font-style: italic; }

              .cs {
                color: #60a0b0;
                background-color: #fff0f0; }

                .gd {
                  color: #A00000; }

                  .ge {
                    font-style: italic; }

                    .gr {
                      color: #FF0000; }

                      .gh {
                        color: #000080;
                        font-weight: bold; }

                        .gi {
                          color: #00A000; }

                          .go {
                            color: #808080; }

                            .gp {
                              color: #c65d09;
                              font-weight: bold; }

                              .gs {
                                font-weight: bold; }

                                .gu {
                                  color: #800080;
                                  font-weight: bold; }

                                  .gt {
                                    color: #0040D0; }

                                    .kc {
                                      color: #007020;
                                      font-weight: bold; }

                                      .kd {
                                        color: #007020;
                                        font-weight: bold; }

                                        .kn {
                                          color: #007020;
                                          font-weight: bold; }

                                          .kp {
                                            color: #007020; }

                                            .kr {
                                              color: #007020;
                                              font-weight: bold; }

                                              .kt {
                                                color: #902000; }

                                                .m {
                                                  color: #40a070; }

                                                  .s {
                                                    color: #4070a0; }

                                                    .na {
                                                      color: #4070a0; }

                                                      .nb {
                                                        color: #007020; }

                                                        .nc {
                                                          color: #0e84b5;
                                                          font-weight: bold; }

                                                          .no {
                                                            color: #60add5; }

                                                            .nd {
                                                              color: #555555;
                                                              font-weight: bold; }

                                                              .ni {
                                                                color: #d55537;
                                                                font-weight: bold; }

                                                                .ne {
                                                                  color: #007020; }

                                                                  .nf {
                                                                    color: #06287e; }

                                                                    .nl {
                                                                      color: #002070;
                                                                      font-weight: bold; }

                                                                      .nn {
                                                                        color: #0e84b5;
                                                                        font-weight: bold; }

                                                                        .nt {
                                                                          color: #062873;
                                                                          font-weight: bold; }

                                                                          .nv {
                                                                            color: #bb60d5; }

                                                                            .ow {
                                                                              color: #007020;
                                                                              font-weight: bold; }

                                                                              .w {
                                                                                color: #bbbbbb; }

                                                                                .mf {
                                                                                  color: #40a070; }

                                                                                  .mh {
                                                                                    color: #40a070; }

                                                                                    .mi {
                                                                                      color: #40a070; }

                                                                                      .mo {
                                                                                        color: #40a070; }

                                                                                        .sb {
                                                                                          color: #4070a0; }

                                                                                          .sc {
                                                                                            color: #4070a0; }

                                                                                            .sd {
                                                                                              color: #4070a0;
                                                                                              font-style: italic; }

                                                                                              .s2 {
                                                                                                color: #4070a0; }

                                                                                                .se {
                                                                                                  color: #4070a0;
                                                                                                  font-weight: bold; }

                                                                                                  .sh {
                                                                                                    color: #4070a0; }

                                                                                                    .si {
                                                                                                      color: #70a0d0;
                                                                                                      font-style: italic; }

                                                                                                      .sx {
                                                                                                        color: #c65d09; }

                                                                                                        .sr {
                                                                                                          color: #235388; }

                                                                                                          .s1 {
                                                                                                            color: #4070a0; }

                                                                                                            .ss {
                                                                                                              color: #517918; }

                                                                                                              .bp {
                                                                                                                color: #007020; }

                                                                                                                .vc {
                                                                                                                  color: #bb60d5; }

                                                                                                                  .vg {
                                                                                                                    color: #bb60d5; }

                                                                                                                    .vi {
                                                                                                                      color: #bb60d5; }

                                                                                                                      .il {
                                                                                                                        color: #40a070; }
